{% extends "base.html" %}
{% block content %}
  {% load socketio_tags %}
  {% socketio %}
    
  
  <div class='l_container'>
    <div class='l_top'></div>
    <div class='l_bottom clearfix'>
      <div class='l_bottom-left'>
        <div class='l_friend-list'></div>
        <div class='l_chat-panel'>
          <ul class='log l_message-list'>
          </ul>
          <textarea id='typeIn' class='form-control message-field' style='height: 30px;'></textarea>
          <div class='sendBtn'>
            <button id='sendBtn' class='btn btn-sm btn-success' data-username="{{ userName }}">Send</button>
          </div>
        </div>
      </div>
      <div class='l_bottom-right'>
        <div class='l_room-list'></div>
      </div>
    </div>
  </div>


  {% load staticfiles %}
  <script type="text/javascript" src="{% static "js/game/lobby.js" %}"></script>
{% endblock %}
