{% extends "base.html" %}
{% block content %}
  {% load socketio_tags %}
  {% socketio %}
    
  
  <div class='l_container'>
    <div class='l_top clearfix'>
      <div class='l_user-profile'>
        <img class='l_user-picture' src="{{ picture }}">
        <ul class='l_user-data'>
          <li>{{userName}}</li>
          {% if gender != 'unknown' %}
            <li>{{gender}}</li>
          {% endif %}
          {% if location != '' %}
            <li>{{location}}</li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class='l_bottom clearfix'>
      <div class='l_bottom-left'>
        <div class='l_friend-list panel panel-primary'>
          {% if friendNum == 0 %}
            <span class='passiveGray l_no-friend-lable'>No friends</span>
          {% endif %}
        </div>
        <div class='l_chat-panel'>
          <ul class='log l_message-list panel panel-default'>
          </ul>
          <textarea id='typeIn' class='form-control message-field' style='height: 30px;'></textarea>
          <button id='sendBtn' class='btn btn-sm btn-success' data-username="{{ userName }}">Send</button>
        </div>
      </div>
      <div class='l_bottom-right'>
        <div class='l_room-list panel panel-success'></div>
      </div>
    </div>
  </div>


  {% load staticfiles %}
  <script type="text/javascript" src="{% static "js/game/lobby.js" %}"></script>
{% endblock %}
