{% extends "base.html" %}
{% block content %}
  <form action='/login/' method='POST' role="form">{% csrf_token %}
    <div class="jumbotron form-container">
      <p>Welcome to our Land!</p>
      <div class="">
        <label for="usernameText">Username:</label>
        <input type='text' name='username' class="form-control" id='usernameText'></br>
      </div>
      <div class="">
        <label for="passwordText">Password:</label>
        <input type='password' name='password' class="form-control" id='passwordText'></br>
      </div>
      <input type='submit' class="btn btn-primary" value='Submit'>
      <a href="/signup/" class='l_signup'>Signup</a>
    </div>
  </form>
{% endblock %}