{% extends "base.html" %}
{% block content %}
  <form action='/login/' method='POST' role="form">{% csrf_token %}
    <div class="jumbotron form-container">
      <p>Welcome to our Land!</p>
      <div class="">
        <label for="usernameText">Username:</label>
        <input type='text' name='username' class="form-control" id='usernameText'></br>
      </div>
      <div class="">
        <label for="passwordText">Password:</label>
        <input type='password' name='password' class="form-control" id='passwordText'></br>
      </div>
      <input type='submit' class="btn btn-primary" value='Submit'>
      <a href="/signup/" class='l_signup'>Signup</a>
    </div>
  </form>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '365206773554073', // App ID
    channelUrl : '//localhost:8000/static/channel.html', // Channel File
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });
  
  FB.Event.subscribe('auth.authResponseChange', function(response) {
    console.log(response.status);
    if (response.status === 'connected') {
      testAPI(response);
    } else if (response.status === 'not_authorized') {
      FB.login({scope: 'email'});
    } else {
      FB.login({scope: 'email'});
    }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  // Here we run a very simple test of the Graph API after login is successful. 
  // This testAPI() function is only called in those cases. 
  function testAPI(response) {
    console.log(response);
    FB.api('/me', function(dataResponse) {
      console.log(dataResponse);
      $.ajax({
            type: 'POST',
            url: '/fbLogin/',
            dataType: 'json',
            data: {
              fbAccessToken: response.authResponse.accessToken,
              fbID: response.authResponse.userID,
              first_name: dataResponse.first_name,
              last_name: dataResponse.last_name,
              username: dataResponse.username,
            },
            success: function(data){
              console.log(data);
              document.location.href = '/';
            },
            error: function(err){
              console.log(err);
            }
          });
    });
  }
</script>
<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
{% endblock %}