{% extends "base.html" %}
{% block content %}
  <form action='login' method='POST' role="form">
    <p>Welcome to Our Land!</p>
    <div class="form-group">
      <label for="usernameText">Username:</label>
      <input type='text' name='username' class="form-control" id='usernameText'></br>
    </div>
    <div class="form-group">
      <label for="passwordText">Password:</label>
      <input type='password' name='password' class="form-control" id='passwordText'></br>
    </div>
    <input type='submit' class="btn btn-default" value='Submit'>
    <a href="#">Signup</a>
  </form>
{% endblock %}