@import url('bootstrap-theme.min.css');
@import url('bootstrap.min.css');

html, body
{
    height:100%;
}

form
{
  position: absolute;
  top: 50px;
  width: 100%;
}

.passiveGray
{
  color: #EAEAEA;
}

.s_logout
{
  color: white;
}

.l_logout:hover
{
  text-decoration: none;
}

.form-container
{
  width: 300px;
  margin: 0 auto;
}

.l_signup
{
  margin-left: 15px;
}

.l_signup:hover
{
  text-decoration: none;
}


footer
{
  clear:both;
  padding-top:10px;
}

.main
{
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

#wrap
{
  min-height: 100%;
}

.l_footer-content
{
  color: wheat;
  position: relative;
  left: 30%;
  top: 10%;
}

.header-text
{
  color: white;
  margin: 15px 7px 0 0;
}

.fbLoginBtn
{
  top: -10px;
  left: 10px;
}

.l_container
{
  width: 100%;
  margin-top: 50px;
}

.l_top
{
  min-height: 150px;
  background: wheat;
}

.l_bottom-left
{
  min-height: 440px;
  width: 35%;
  float: left;
  padding: 10px;
}

.l_bottom-right
{
  min-height: 440px;
  width: 65%;
  float: right;
  padding: 10px;
}

.l_bottom
{
  /*background: red;*/
}

.l_chat-panel
{
  /*padding: 10px;*/
}

.message-field
{
  resize: none;
  width: 82%;
  display: inline;
}

.sendBtn
{
  margin-right: auto;
  margin-left: auto;
  width: 50px;
}

.l_message-list
{
  height: 130px;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 5px;
}

.l_friend-list
{
  min-height: 210px;
  /*background: #00FF80;*/
  padding: 10px;
}

.l_user-profile
{
  width: 35%;
  float: left;
  padding: 10px;
}

.l_user-picture
{
  width: 120px;
  height: 120px;
}

.l_user-data
{
  display: inline-block;
}

.l_no-friend-lable
{
  display: block;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.l_room-list
{
  min-height: 360px;
}
