@import url('bootstrap-theme.min.css');
@import url('bootstrap.min.css');

html, body
{
    height:100%;
}

form
{
  position: absolute;
  top: 50px;
}

.s_logout
{
  color: white;
}

.l_logout:hover
{
  text-decoration: none;
}

.form-container
{
  width: 300px;
}

.l_signup
{
  margin-left: 15px;
}

.l_signup:hover
{
  text-decoration: none;
}


footer
{
  clear:both;
  padding-top:10px;
}

.main
{
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

#wrap
{
  min-height: 100%;
}

.l_footer-content
{
  color: wheat;
  position: relative;
  left: 30%;
  top: 10%;
}

.header-text
{
  color: white;
  margin: 15px 7px 0 0;
}

.fbLoginBtn
{
  top: 400px;
  left: 200px;
}

.l_container
{
  width: 100%;
  margin-top: 50px;
}

.l_top
{
  min-height: 150px;
  background: wheat;
}

.l_bottom-left
{
  min-height: 480px;
  width: 35%;
  float: left;
  background: #F6D8CE;
}

.l_bottom-right
{
  min-height: 480px;
  width: 65%;
  float: right;
  background: #D8CEF6;
}

.l_bottom
{
  background: red;
}

.l_chat-panel
{
  padding: 10px;
}

.message-field
{
  height: 30px;
  resize: none;
}

.sendBtn
{
  margin-right: auto;
  margin-left: auto;
  width: 50px;
}

.l_message-list
{
  height: 100px;
  overflow-y: scroll;
}

.l_friend-list
{
  min-height: 250px;
  background: #00FF80;
}